.bg-dark{
    background-color: black !important;
}

.container-custom {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logoImg {
    height: 50px;
    width: auto;
}

.btn-custom {
    color: #00d8d6;
    border: 1px solid #00d8d6;
    transition: .5s ease-in-out !important;
}

.btn-custom:hover {
    color: #01a3a0;
    border: 1px solid #01a3a0;
}

