body {
    background-color: #020C1B;
}

.main-font-color {
    color: #f5f6fa;
}

.custom-padding {
    padding: 50px 30px;
}

.custom-padding-top {
    padding-top: 90px;
}

.custom-para {
    color: gray;
}
.lightning-text {
    color: white;
    text-shadow: 0 0 10px #00d8d6;
}

.resume{
    text-decoration: none;
    color:#00d8d6;
    transition: .5s;
}

.resume:hover{
    color: #01a3a0;
}

.activeClass {
    color: #00d8d6;
}